@model ProjetoModeloDocumentosDDD.MVC.ViewModels.CnhViewModel

@{
    ViewBag.Title = "Create";
}

@if (Session["LogarUserIdComun"] != null)
{

using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


        <div class="form-horizontal">

            <h2 class="title text-center">Postar CNH</h2>
            <img src="~/Content/img/cnh.jpg" /><p>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.NomeDaPessoaCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomeDaPessoaCompleto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeDaPessoaCompleto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NomeMae, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomeMae, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeMae, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NomePai, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomePai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomePai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Datanascimento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Datanascimento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Datanascimento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Postar" class="btn btn-default" />
                    </div>
                </div>
        </div>
    }

    <div>
        @Html.ActionLink("Minhas postagens", "Index")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

}
else
{

    <text>
        Login Obrigatorio!
    </text>
}